.devs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: @blue;

    .dev {
        display: flex;
        justify-content: flex-left;
        width: 800px;
        background: @darkBlue;
        padding-bottom: 1rem;

        .namePhoto {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-right: 20%;
            height: 7.6rem;
            color: white;
        }

        .textContent {
            color: white;
        }

    }
}