nav {
    background: @blue;
    color: @white;
    .flex(space-around);
    padding: .5rem 0;
    
    a {
        text-decoration: none;
        color: white;
    }
    #about {
        width: 35%;
    }
    @media(max-width:500px) {
        #about {
            width: 15rem;
        }
    }
}